/* Navbar styles */
.nav-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #1a1a1a;
}

.nav-left { 
  flex: 1;
}

.nav-nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex: 1;
}

.nav-social {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex: 1;
  padding-right: 1rem;
}

/* Presentation styles */
.presentation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 1rem;
}

.presentation-text {
  display: flex-start;
  flex: 1;
  flex-direction: column;
}

.presentation-image img {
  display: flex-end;
  width: 500px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  padding-left: 2rem;
}

/* Stack styles */
.stack-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stack-text {
  text-align: left;
}

.stack-items {
  background-color: #1a1a1a;
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

/* Project styles */
.projects-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.projects-item-left {
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: auto;
}

.projects-item-right {
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

/* Footer styles */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 1rem;
  width: 100%;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.footer-logo img {
  width: 100px;    /* Cambia el valor según el tamaño deseado */
  height: auto;    /* Mantiene la proporción */
  display: block;  /* Elimina espacios extra debajo de la imagen */
}

.footer-links {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.footer-social {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}


/* Global styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #ffffffde;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
